
.mwt_border
{
	width:640px;
	color:#777777;
	text-align: center;
	background: #fff;
	position: absolute;
	border: 1px solid #e5e5e5;
	margin:30px;
	padding:5px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 1px;
	
}

.mwt_border .arrow_t_int{
	width:  0px;
	height: 0px;
	border-width: 15px;
	border-style: solid ;
	border-color: transparent transparent #e5e5e5 transparent;
	position: absolute;
	top:-30px;
	left: 40px;
}

.mwt_border .arrow_t_out{
	width:0px;
	height: 0px;
	border-width: 15px;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
	position: absolute;
	top: -29px;
	left: 40px;
}

#prebutton{
	display:inline-block;
	position: absolute;
	left: 11px;
	top:5px;
	z-index: 1;
	font-size: 12px;
	padding: 8px 13px;
}

#nextbutton{
	display:inline-block;
	position: absolute;
	top:5px;
	right: 11px;
	font-size: 12px;
	padding: 8px 13px;
}

.premonth{
	float:left;
	width : 50%;
	border-right:1px solid #ececec;
	left: 0px;
	font-size: 14px;

}
.daylist span div{
	padding: 7px;
	cursor: pointer;
}
.nextmonth{
	float:left;
	width : 50%;
	right: 0px;
	margin-left:-1px;
	font-size: 14px;
}

.month{
	margin:5px;
	text-align: center;
}




.weekday{
	display:inline-block;
	width : 10%;
	border-bottom:2px solid #2FBBD4; 
	text-align: center;
	padding: 5px;
	
}
.weekday a.select-font{
	color:  #818a91;
	text-decoration: none;
	cursor: default;
}

.old-font{
	color : #d5d5d5;
	text-decoration:line-through;
}

.old-font:hover{
	background-color: #ececec;
	
}



.selected-font:hover{
	background-color: #2FBBD4;
	color: white;
}
.weekend-font:hover,.normal-font:hover{
	background-color: #2FBBD4;
	color: white;
}
.middle-font:hover{
	background-color: #AAF7EC;


}

.middle-font{
	background-color: #E1FCF9;
	color:#818a91;

}
.selected-font{
	background-color: #2FBBD4;
	color: white;
}



.normal-font{
	color: #818a91;
	background-color: white;
}

.weekend-font{
	color : #2FBBD4;
	background-color: white;
}

.daylist{
	display:inline-block;
	width : 13%;

	text-align: center;
}

#nextbutton, #prebutton{
	background: none;
	border: 0;
	
}

#nextbutton:hover, #prebutton:hover{
	background:#2FBBD4;
	color: #fff;

}

#nextbutton:focus , #prebutton:focus {
    outline: 0 none;
}